.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  color: aliceblue;
}

h1 {
  color: #282c34;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  color: antiquewhite;
  font-size: large;
  font-weight:700;
  background-color: blue;
  margin: 20px;
  width: 200px;
  height: 60px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  padding: 30px;
}

textarea {
  margin: 10px;
}

.container-forms {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #282c34;
}

input {
  margin: 10px;
}

select {
  margin: 10px;
}

#name {
  text-transform: uppercase;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
