div:hover {
  border-style:inset;
  
}
.cprimaria{
  border-color: yellow;
}
.csecundaria{
  border-color: green;
}
.ccomplementar{
  padding: 15em 10em;
  border-color: rebeccapurple;
}
.cescura{
  border-color: brown
}
.cclara{
  border-color: white;
}
h3{
  background-color: tomato;
  color: whitesmoke;
}
h3:nth-child(odd) {
  font-style: italic;
}