.super-mario {
  width: 100px;
  position: absolute;
  top: 180px;
  left: 35%;
  z-index: 4;
}
.goomba {

  width: 100px;
  position: absolute; 
  top: 165px;
  left: 600px;
  z-index: 3;
}

.bowser {
  width: 100px;
  top: 370px;
  right: 70%;
  position: absolute;

}

.baloon {
  color: red;
  top: 280px;
  left: 50px;
  width: 200px;
  position: absolute
  
}

p {
  top: 300px;
  left: 75px;
  color:blue;
  position: absolute;
  z-index: 2;
}